/* Ensure the root container takes full viewport height */
.root {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* Full viewport height */
	margin: 0;
}

.rootContainer {
	flex: 1; /* Allows the main content to grow and push the footer */
	padding-top: 7em; /* Ensure no overlap with the fixed header */
	padding-bottom: 5em;
}
